.nav {
  padding: 0;
  margin: 0;
}

.nav li {
  display:inline-block;
  list-style: none;
}

.navigation-container{
  border-bottom:1px solid #000000;
  background: #2d2d2d;
}

body{
  margin:0;
  font-family:"arial" "sans-serif";
  font-size:14 px;
}

.nav > li > a {
  padding: 10px 20px;
  display: block;
  color: #bbbbbb;
  text-decoration: none;
}

.nav > li > .active,
.nav > li > a:hover {
  color: #ffffff;
}

.search-container{
  background:#ededed;
  border-bottom:1px solid #e5e5e5;
  padding: 20px 20px;
}

.filters-container{
  display:inline-block;
  background:#ededet#ffffff;
  border-bottom:1px solid #c5c5c5;
}

.filters li {
  display:inline-block;
  list-style: none;
}

.filters > li > a {
  padding: 10px 10px;
  display: block;
  color: #grey;
  text-decoration: none;
}

.filter > li > a:hover {
  color: #e13030;
  border-bottom:6px solid #e13030;
}

main-container{
  width:512px
  margin-left: 135;
}

.search-results-list{
  padding-left: 0;
  list-style: none;
}
.search-results-title{
  margin: 0;
}

search-result-source {
  display:block;
  font-style:normal;
  color: #009933;
}
